/* Homepage Styling */

body {
    background-color: #f9f9f9;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: #2c3e50;
    margin-bottom: 20px;
    text-align: center;
}

h2 {
    color: #34495e;
    margin-bottom: 10px;
    border-bottom: 2px solid #2980b9;
    display: inline-block;
    padding-bottom: 5px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    background-color: #ffffff;
}

.clickable-row {
    cursor: pointer;
    background-color: #f9f9f9;
    transition: background-color 0.2s ease;
}

.clickable-row:hover {
    background-color: #e0e0e0;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #cfeaf1;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

button {
    background-color: #2980b9;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #1f5d8a;
}

form div {
    margin-bottom: 15px;
}

/* MonthEntryPage Styles */
.month-entry-container {
    padding: 20px;
}

.back-btn-container a {
    display: inline-block;
    margin-bottom: 20px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}

.back-btn-container a:hover {
    text-decoration: underline;
}

.month-entry-header {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.month-entry-table th,
.month-entry-table td {
    border: 1px solid #ccc;
    padding: 8px 12px;
    text-align: left;
}

.month-entry-table th {
    background-color: #f5f5f5;
    font-weight: bold;
}

.show-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    justify-content: center;
}

.show-buttons button {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
    font-size: 14px;
}

.show-buttons button:hover {
    background-color: #0056b3;
}

.edit-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    margin: auto;
}

.edit-btn:hover {
    background-color: #0056b3;
}

input {
    width: 70%;
    margin: 2px;
    text-align: center;
    font-size: medium;
}

button {
    margin-left: 5px;
    cursor: pointer;
}

.month-row-actions {
    display: flex;
    margin: auto;
    justify-content: center;
}
